.containhead {
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;

}

.progress-label {
    /* float: left;
    margin-right: 0.5em;
    margin-bottom:1em; */
}